html{
    height:100%
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x:hidden;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
    position:relative
    

       
}
.logo {
    width: 55px;
}
.logoLabel {
    font-family: 'Stalinist One', cursive;
    font-style: italic;
    margin-left: 15px;
    font-size: 72px;
    background: -webkit-linear-gradient(#ddbdfc, #8187DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header {
    padding-inline: 35px;
    background-color: #222222;
    border-bottom: 7px solid #ddbdfc;
}
.nav-link {
    color: #ddbdfc
}
.glass-object {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.glass-object-danger {
    background: rgba( 255, 0, 0, 0.50 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color:whitesmoke
}

.btn-primary {
    background-color: #8187DC;
    border: 0;
    
}
#sort {
    background-color: #222222;
    color: whitesmoke

}
#myCarousel {
    border-bottom: 50px solid #222222
}
.productImg1 {
    width: 100%;
    background-image: url(./assets/img/front/hzFront.jpg);
    height: 70%;
    background-size: cover;
    
}
.productImg2 {
    width: 100%;
    background-image: url(./assets/img/front/ffFront.jpg);
    height: 70%;
    background-size: cover;
    
}
.productImg3 {
        width: 100%;
        background-image: url(./assets/img/front/mwFront.jpg);
        height: 70%;
        background-size: cover;
        
}
.productImg4 {
        width: 100%;
        background-image: url(./assets/img/front/abbonamentoXboxFront.jpg);
        height: 70%;
        background-size: cover;
        
}
.productImg {
    width: 100%;
    height: 70%;
    background-size: cover;
    
}
.productCard {
   display:flex;
   flex-direction:column;
   width:23%;
   height:300px;
   overflow:hidden


}
.promo {
    background-image:url(./Assets/img/back/patternpad.png);
    
}
.productDesc {
    text-align: end;
    color: black;
    font-size:1.2rem;
    width:100%;
    position:relative;


}
.repCard{
    margin:1%
}
.headings {
    color: #8187DC
}
.PrezzoInt {
    display: inline;
    position: absolute;
    right: 10px;
    top: -55px;
    color: whitesmoke;
    font-weight: bold;
    font-style:oblique
    
}
.footer {
    padding-inline: 35px;
    background-color: #222222;
    margin: 0;
    border-top: 7px solid #ddbdfc;
}

.footer-link{
    color: #ddbdfc

}
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ddbdfc;
}
.detailMain{
    position:relative;
}
.detailCard {
    position: absolute;
    padding: 20px;
    top: -215px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1020px;
    color: black
}
.detailDesc {
    margin-top: 250px;
    background-color: #222222;
    color:whitesmoke;
    padding-inline:45px
}
.gallery {
    background-color: #222222;
    padding-inline:45px
}
.CartDetail{
    height:150px;
    
}
.EmptyCard {
    height: 150px;
    margin-top: 180px
}
.CartContainer{
    height:85vh
}
.table {
    border:0
}
.accessMain {
    height:85vh;
}
.icon {
    font-size:5.5rem
}


